
    body

    {

      display :flex;

      flex-direction:column;
      backgroud-color:#eded84; 
    }     

        #mapid 

              { 

                  width:70%;

                  height:700px;

                  margin-right:3px;

               }

        #tout{ 

          width:30%;

           height:700px;

            margin-right:3px;

        }       

    

      #info

      {

        color: black;

        width:100%;

        height:650px;

        background-color:#D3D3D3;

        overflow:scroll;

      }



      #accepter

       {

            background-color:#8ee08e;
   font-size: 20px;
            height:50px;
    width:50%;
    border-radius: 30px;
    text-align: center;
       }

       #refuser

       {
        background-color:#ef1515;
        height:50px;
         width:50%;
         border-radius: 30px;
         text-align: center;
         font-size: 20px;
       }

       #mapidinfo
       {
           display:flex;
           flex-direction:row;
       }

        .touche

         {

          display:flex;
          flex-direction:row;

         }


          #client
           {
                background-color: #f3c28b;
            font-size:50px;
          font-family: "Times New Roman", Times, serif;
            font-weight: bold;
          border-radius: 30px 30px;
            padding-left:5px;
          text-align:left ;
        
           }
         #chauffeur
          {

                background-color: #93e093;
            font-size:50px;
          font-family: "Times New Roman", Times, serif;
            font-weight: bold;
          border-radius: 30px 30px;
          padding-left:5px;
          text-align:left ;
           }
         #afficher

{

    background-color:#93e093;

     height:50px;

     width:50%;
         text-align: center;
    border-radius: 60px;

}

#supprimer

{

 background-color:#e9e2ea;

 height:50px;

  width:50%;
      text-align: center;
    border-radius: 60px;
}
@media screen and (max-width: 600px) {
  #mapidinfo{ 
  display:flex;
  flex-direction:column;
  }
  #mapid 
         { 
                  width:100%;
                  height:500px;
                  margin-right:3px;
          }
    
      #tout
      {
        color: black;
        width:100%;
        height:700px;
        background-color:#D3D3D3;
      
      }
       #mapid 
         { 
                  width:100%;
                  height:500px;
                  margin-right:3px;
          }
            /* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #BDE6DA; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
  
  
}
